@media(max-width: 768.98px){
	.inner{
		flex-direction: column;
		column-gap: normal;
		row-gap: 1rem;

		perspective: calc($index * 40);
		align-items: center;
	}

	.item{
		width: calc($index * 25);
		height: calc($index * 3);

		&::before, &::after{
			content: '';
			position: absolute;
			width: 100%;
			height: 10px;
		}

		&::before{
			right: 0;
			bottom: 100%;
		}

		&::after{
			left: 0;
			top: 100%;
		}
	}

	.item.hover-1{
		transform: translateZ(calc($index * 8.5)) rotateX(-35deg);
	}
	.item.hover-2{
		transform: translateZ(calc($index * 5.6)) rotateX(-40deg);
	}
	.item.hover-3{
		transform: translateZ(calc($index * 2.4)) rotateX(-30deg);
	}
	.item.hover-4{
		transform: translateZ(calc($index * .6)) rotateX(-14deg);
	}

	.item.pre-1hover{
		transform: translateZ(calc($index * 8.5)) rotateX(35deg);
	}
	.item.pre-2hover{
		transform: translateZ(calc($index * 5.6)) rotateX(40deg);
	}
	.item.pre-3hover{
		transform: translateZ(calc($index * 2.4)) rotateX(30deg);
	}
	.item.pre-4hover{
		transform: translateZ(calc($index * .6)) rotateX(14deg);
	}

	.item.active{
		width: 60vw;
		height: 40vh;
	}

}