@import 'var.scss';

*,
*::before,
*::after{
	box-sizing: border-box;
}

html{
	font-size: 62.5%; // 10px
}

body{
	-webkit-font-smoothing: antialiased;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.6rem; // 16px
	line-height: 1;
	margin: 0;

	min-width: 320px;
	overflow-x: hidden;
	position: relative;
	background-color: #141414;
}

.wrapper{
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
}

.inner{
	display: flex;
	column-gap: .5rem; // 5px

	perspective: calc($index * 35);
}

.item{
	width: calc($index * 3);
	height: calc($index * 12);
	position: relative;

	background-color: $black;
	background-size: cover;
	background-position: center;

	cursor: pointer;
	transition: transform 1s $transition, filter 3s $transition, width .5s linear, height .5s linear;
	filter: grayscale(1) brightness(.5);
	will-change: transform, filter;

	&::before, &::after{
		content: '';
		position: absolute;
		width: 20px;
		height: 100%;
	}

	&::before{
		right: 100%;
	}

	&::after{
		left: 100%;
	}
}

@for $n from 1 to 14{
	.item:nth-child(#{$n}) {
		background-image: url('../images/compressed/#{$n}.jpg');
	}
}

.item.hover{
	transform: translateZ(calc($index * 10));
	filter: inherit;
}

@for $i from 1 through 4{
	.item.hover-#{$i} {
		z-index: -$i;
		filter: inherit;
	}
}

@for $i from 1 through 4{
	.item.pre-#{$i}hover{
		filter: inherit;
	}
}

.item.hover-1{
	transform: translateZ(calc($index * 8.5)) rotateY(35deg);
}
.item.hover-2{
	transform: translateZ(calc($index * 5.6)) rotateY(40deg);
}
.item.hover-3{
	transform: translateZ(calc($index * 2.4)) rotateY(30deg);
}
.item.hover-4{
	transform: translateZ(calc($index * .6)) rotateY(14deg);
}

.item.pre-1hover{
	transform: translateZ(calc($index * 8.5)) rotateY(-35deg);
}
.item.pre-2hover{
	transform: translateZ(calc($index * 5.6)) rotateY(-40deg);
}
.item.pre-3hover{
	transform: translateZ(calc($index * 2.4)) rotateY(-30deg);
}
.item.pre-4hover{
	transform: translateZ(calc($index * .6)) rotateY(-14deg);
}

.item.active{
	width: 28vw;
	transform: translateZ((calc($index *10)));
	filter: inherit;
	z-index: 100;
}

@import 'media.scss';